.section.impact-hero {

  position: relative;
  overflow: hidden;

  // @media screen and (min-width: $tablet)  {

  //   padding-top: 5rem; // Extra temporary distance from header

  // }
  .impact-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    @media screen and ( max-width: $tablet ) {
      padding: 75%;
      left: -9rem;
    }
  }

}

.impact-background {

  top: 0;
  z-index: -1;
  position: absolute;

  .image {

    height: 175vh;

    @media screen and (min-width: $tablet)  {

      height: 100vh; // This works from tablet on

    }

    filter: brightness(85%);

  }

}
