.header {

	// .header-banner {
	// 	height: fit-content;
  //   align-self: center;
  //   border-radius: $radius-extra-large;
	// }

	.nav-wrapper {
		display: flex;
		align-items: center;
	}

	.logo-image {
		vertical-align: middle;
	}

}
